<!-- modal add new timesheet by day start-->
<div id="modalAddNewTsheetDay">
    <section role="dialog" tabindex="-1" class="slds-modal">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeModal('#modalAddNewTsheetDay');">
                    <span class="slds-button__icon">
                        <i class="fa fa-times text-size-21"></i>
                    </span>
                </button>
                <h2  class="slds-text-heading_medium slds-hyphenate">Add New Timesheet Entry</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium slds-is-relative">
                <form id="add-new-timesheet-day-form">
                    <div>
                        <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                            <label class="slds-form-element__label">
                                Select Project
                                <abbr class="slds-required" title="required">*</abbr>
                            </label>
                            <div class="slds-form-element__control">
                                <div class="slds-select_container">

                                    <select class="slds-select" required="" getFormData name="day_project" id="day_project" onchange="getProjectTask(this,'#day_task','#project_user_role');" reset='value'>
                                        <!-- clearUserRoles('#project_user_role', '#day_task'); -->


                                        <% if(projectList.length > 0) { %>
                                            <option value=""> </option>
                                            <% projectList.forEach(function(project) { %>
                                                <option pr_id="<%= project.id %>" value="<%= project.name %>"><%= project.name %></option>
                                            <% }); %>
                                        <% } else { %>
                                            <option value=""> </option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                </div>
                            </div>
                        </div>


                        <div class="slds-grid slds-wrap slds-grid_vertical-align-end slds-grid_pull-padded">
                            <div class=" slds-size_1-of-1 slds-medium-size_6-of-12 slds-p-horizontal_small">
                                <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                                    <label class="slds-form-element__label">
                                        Task
                                        <!-- <abbr class="slds-required" title="required">*</abbr> -->
                                    </label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select class="slds-select" name="day_task" id="day_task" onchange="getTaskBillValue(this,'#day_category')" getFormData reset='value'>
                                                <!-- onchange="getUserRoleForTask(this, '#project_user_role')" -->
                                                <option value=""> </option>
                                            </select>
                                        </div>
                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" slds-size_1-of-1 slds-medium-size_3-of-12 slds-p-horizontal_small">
                                <div class="slds-grid slds-grid_vertical-align-center slds-m-bottom_large">
                                    <div class="slds-col--bump-left slds-p-right_medium">
                                        <div class="slds-form-element ">
                                            <label class="slds-checkbox_toggle slds-grid">
                                                <input type="checkbox" checked="" getformdata="" name="day_category" id="day_category" reset-checked='true'>
                                                <span id="checkbox-toggle-3" class="slds-checkbox_faux_container">
                                                    <span class="slds-checkbox_faux"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate">
                                        <span category-isBillable>Billable</span>
                                    </div>
                                </div>
                            </div>
                            <div class=" slds-size_1-of-1 slds-medium-size_3-of-12 slds-p-horizontal_small">
                                <div class="slds-form-element slds-m-bottom_medium">
                                    <label class="slds-form-element__label"  reset='errorclass'>
                                        Time
                                    </label>
                                    <div class="slds-form-element__control">
                                        <input type="text" class="slds-input time-hhmm" id="day_time" name="day_time" getFormData reset='value' autocomplete="off">
                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="slds-form-element slds-m-bottom_medium" reset='errorclass'>
                            <label class="slds-form-element__label">
                                Select Role
                                <abbr class="slds-required" title="required">*</abbr>
                            </label>
                            <div class="slds-form-element__control">
                                <div class="slds-select_container">
                                    <select class="slds-select" required="" getFormData name="user_role" id="project_user_role" reset='value'>
                                        <option value=""> </option>
                                        <!-- userRoles -->
                                        <!-- <% if(userRoles.length > 0) { %>
                                            <option value=""> </option>
                                            <% userRoles.forEach(function(role) { %>
                                                <option value="<%= role %>"><%= role %></option>
                                            <% }); %>
                                        <% } else { %>
                                            <option value=""> </option>
                                        <% } %> -->
                                    </select>
                                </div>
                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small" reset='errmsg'>

                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element slds-m-bottom_medium">
                            <label class="slds-form-element__label">Note</label>
                            <div class="slds-form-element__control">
                                <textarea class="slds-textarea" name="day_note" id="day_note" getFormData placeholder="" reset='value'></textarea>
                            </div>
                        </div>



                    </div>
                </form>
                <div class="hide" id="addTimesheetLoader">
                    <% include ../layouts/local-loader %>
                </div>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick="closeModal('#modalAddNewTsheetDay');">Cancel</button>
                <button class="slds-button slds-button_brand" onclick="addTimeSheetForDay('#modalAddNewTsheetDay', '#add-new-timesheet-day-form');">Add</button>
                <!-- dummyAddItem('Timesheet Added Successfully'); -->
            </footer>
        </div>
    </section>
    <div class="slds-backdrop"></div>
</div>
<!-- modal add new timesheet by day end-->
