<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

<% include ../layouts/head %>

<body class="kw">

    <% include ../layouts/nav %>
    <% include ../layouts/sideNav %>
    <main class="main-body-space tpd-60 bpd-100">
        <% if(messageType!='error') { %>
        <div>
            <div class="slds-p-around_small">
                <div class="">
                    <div id="pageRecordNo" style="display:none;"><%= process.env.PAGE_RECORD_NO %></div>
                    <div id="filterCriteria" style="display:none;" ></div>
                    <div id="totalRecordCount" style="display:none;"></div>
                    <div id="offset" style="display:none;">0</div>
                    <!-- header start end -->
                    <div class="slds-card slds-p-around_small slds-m-bottom_medium">
                        <div class="slds-grid slds-p-bottom_xx-small">
                            <div class="slds-has-flexi-truncate">
                                <div class="slds-grid">
                                    <div class="slds-no-flex slds-p-right_x-small">
                                        <span class="slds-icon_container slds-icon-standard-reward">
                                            <i class="fa fa-dollar-sign text-size-21 text-white slds-icon"></i>
                                        </span>
                                    </div>
                                    <div class="slds-has-flexi-truncate">
                                        <div class="slds-text-body_small text-height-normal">
                                            Expenses
                                        </div>
                                        <h1 class="slds-page-header__title slds-p-right_x-small text-height-normal">
                                            <div class="slds-dropdown-trigger slds-dropdown-trigger_click cursor-pointer view-block" aria-haspopup="true" title="" onclick="openDropdown(this, event, true);">
                                                <% if(usersList.length > 0) { %>
                                                    <div class="slds-grid slds-grid_vertical-align-center" >
                                                        <span class="slds-truncate slds-no-flex" title="" id="selectedFilter"></span>
                                                        <i class="fa fa-caret-down lpd-5"></i>
                                                    </div>
                                                    <div class="slds-dropdown slds-dropdown_left text-normal max-w-250 slds-dropdown_length-5">
                                                        <ul class="slds-dropdown__list">
                                                            <% usersList.forEach(function(user) { %>
                                                                <li class="slds-dropdown__item">
                                                                    <a href="/expenses-listing/<%= user.id %>#default" tabindex="0" class="slds-grid_vertical-align-center">
                                                                        <!-- <div class="slds-no-flex">
                                                                            <span class="slds-badge slds-align-middle" > <%= totalCount %> </span>
                                                                        </div> -->
                                                                        <div class="slds-has-flexi-truncate slds-p-horizontal_small" title="<%= user.first_name? user.first_name:''%> <%= user.last_name? user.last_name:''%> (<%= user.role %>)" >
                                                                            <div class="slds-truncate">
                                                                                <%= user.first_name? user.first_name:''%> <%= user.last_name? user.last_name:''%> (<%= user.role %>)
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            <% }); %>
                                                            <!-- <li class="slds-dropdown__item">
                                                                    <a href="javascript:void(0);" tabindex="0" class="slds-grid_vertical-align-center" onclick="searchExpense('All',this)">
                                                                        <div class="slds-no-flex">
                                                                            <span class="slds-badge slds-align-middle" > <%= totalCount %> </span>
                                                                        </div>
                                                                        <div class="slds-has-flexi-truncate slds-p-horizontal_small">
                                                                            <div class="slds-truncate">
                                                                                All
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </li> -->
                                                            <!-- <li class="slds-dropdown__item">
                                                                <a href="javascript:void(0);" tabindex="0" class="slds-grid_vertical-align-center" onclick="searchExpense('Draft',this)">
                                                                    <div class="slds-no-flex">
                                                                        <span class="slds-badge slds-align-middle"> <%= draftCount %> </span>
                                                                    </div>
                                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_small">
                                                                        <div class="slds-truncate">
                                                                            Draft
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="slds-dropdown__item">
                                                                <a href="javascript:void(0);" tabindex="0" class="slds-grid_vertical-align-center" onclick="searchExpense('Approved',this)">
                                                                    <div class="slds-no-flex">
                                                                        <span class="slds-badge slds-align-middle"> <%= approvedCount %> </span>
                                                                    </div>
                                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_small">
                                                                        <div class="slds-truncate">
                                                                            Approved
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li> -->
                                                        </ul>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </h1>
                                    </div>
                                </div>
                            </div>

                            <div class="slds-col--bump-left slds-p-left_medium" remove-on-other-user>
                                <div class="">
                                    <!-- <button class="slds-button slds-button_neutral slds-align-top" onclick="exportToCsv('generateExpenseCsv')">
                                        <span class="sm-hide">Export Expense</span>
                                    </button> -->
                                    <button class="slds-button slds-button_brand slds-align-top" onclick="openModal('#modalAddNewExpense', true)">
                                        <i class="fa fa-plus"></i>
                                        <span class="sm-hide">Add New</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class=" slds-p-top_x-small line-top">
                            <div class="slds-grid slds-wrap slds-grid_pull-padded">
                                <div class="slds-size_1-of-1 slds-medium-size_6-of-12 slds-p-horizontal_small">
                                    <div class="slds-grid sm-bpd-10">
                                        <div class="sm-hide slds-p-right_small">
                                            <div class="slds-button-group" role="group">
                                                <button data-navigation="default" class="slds-button slds-button_icon slds-button_icon-border-filled btn-is-on" onclick="btnGroupTabView(this, '#expensesViews', 'expenses-table');" title="List View">
                                                    <i class="fa fa-list"></i>
                                                </button>
                                                <button data-navigation="cardView" class="slds-button slds-button_icon slds-button_icon-border-filled" onclick="btnGroupTabView(this, '#expensesViews', 'expenses-cards');" title="Card View">
                                                    <i class="fa fa-th-large"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-size_1-of-1 slds-medium-size_6-of-12 slds-p-horizontal_small">
                                    <div class="slds-grid slds-grid_align-end">
                                        <!-- <div class="slds-no-flex slds-p-right_small">
                                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-align-top" title="edit">
                                                <span class="slds-button__icon">
                                                    <i class=" fa fa-filter" aria-hidden="true"></i>
                                                </span>
                                            </button>
                                        </div> -->
                                        <div class="sm-slds-grow">
                                            <div class="slds-form-element">
                                                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                                    <input type="text" class="slds-input" placeholder="Search expense by account name" id="searchExpenseForAccount" searchFunc="findExpenseForAccount()" onkeypress="handle(event,this);">
                                                    <div class="slds-input__icon-group slds-input__icon-group_right">
                                                        <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon" title="Clear" onclick="clearSearchBox(this);findExpenseForAccount();">
                                                        <i class="fa fa-times-circle"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-no-flex slds-p-left_small">
                                            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-align-top" title="Search" onclick="findExpenseForAccount();">
                                            <span class="slds-button__icon">
                                                <i class=" fa fa-search" aria-hidden="true"></i>
                                            </span>
                                            </button>
                                        </div>
                                        <!-- <div class="sm-slds-grow">
                                            <div class="slds-form-element">
                                                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right slds-input-has-icon_group-right">
                                                    <span class=" slds-input__icon_left slds-input__icon">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                                    <input type="text" class="slds-input" placeholder="Search">
                                                    <div class="slds-input__icon-group slds-input__icon-group_right">
                                                        <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon" title="Clear">
                                                            <i class="fa fa-times-circle"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header end -->


                    <div id="expensesViews">

                        <!-- table view start -->
                        <div class="slds-card sm-hide" btn-tabview="expenses-table">
                            <div class="">


                                <div class="slds-p-top_small">
                                    <table class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_cell-buffer" role="grid">
                                        <thead>
                                            <tr class="slds-text-title_caps">
                                                <th class="slds-is-sortable" scope="col">
                                                    <span class="slds-truncate" title="Record Id">#</span>
                                                </th>
                                                <th class="slds-is-sortable" scope="col">
                                                    <span class="slds-truncate" title="Status">Status</span>
                                                </th>
                                                <th class="slds-is-sortable" scope="col">
                                                    <span class="slds-truncate" title="Date">Date</span>
                                                </th>
                                                <th class="slds-is-sortable " scope="col">
                                                    <span class="slds-truncate" title="Category">Category</span>
                                                </th>
                                                <th class="slds-is-sortable " scope="col">
                                                    <span class="slds-truncate" title="Account">Account</span>
                                                </th>
                                                <th class="slds-is-sortable " scope="col">
                                                    <span class="slds-truncate" title="Project">Project</span>
                                                </th>
                                                <th class="slds-is-sortable " scope="col">
                                                    <span class="slds-truncate" title="Project">Created By</span>
                                                </th>
                                                <!-- <th class="slds-is-sortable " scope="col">
                                                    <span class="slds-truncate" title="Doc">Doc</span>
                                                </th> -->
                                                <th class="slds-is-sortable" scope="col">
                                                    <span class="slds-truncate" title="Total">Total</span>
                                                </th>
                                                <th class=" " scope="col" style="width: 3.25rem;">

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="expenseListTBody">
                                            <% if(expenses.length > 0) { %>
                                                    <% expenses.forEach(function(expense) { %>
                                            <!-- row start -->
                                            <tr class="">
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <a href="/expense-details?expenseId=<%= expense.id%>"><%= expense.record_id %></a>
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <span class="text-uppercase">

                                                            <% if(expense.project_archived) { %>
                                                                <span class="text-uppercase text-red">
                                                                Project Archived
                                                            <% } else if(expense.project_status=='Completed') { %>
                                                                <span class="text-uppercase text-red">
                                                                Project Completed
                                                            <% } else if(expense.invoiced) { %>
                                                                <span class="text-uppercase text-green">
                                                                Invoiced
                                                            <% } else if(expense.submitted) { %>
                                                                <span class="text-uppercase text-orange">
                                                                Submitted
                                                            <% } else {%>
                                                                <span class="text-uppercase text-dull">
                                                                Draft
                                                            <% } %>

                                                            </span>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <%= expense.expense_date %>
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <%= expense.category %>
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <%= expense.account_name %>
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <%= expense.project_name %>
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <%= expense.createdBy %>
                                                    </div>
                                                </td>
                                                <!-- <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <a href=""><i class="fa fa-paperclip fa-lg"></i></a>
                                                    </div>
                                                </td> -->
                                                <td role="gridcell">
                                                    <div class="slds-truncate" title="">
                                                        <% var currency_symbols = currencyWithSymbolArray.filter(function(currency){
                                                            return currency.name == expense.currency;
                                                        })%>
                                                        <span class="text-uppercase text-dull"><%= currency_symbols[0].symbol %></span>
                                                        <strong class="text-uppercase"> <%= expense.total_amount %> </strong>
                                                    </div>
                                                </td>
                                                <td role="gridcell">
                                                    <div class="slds-dropdown-trigger slds-dropdown-trigger_click" onclick="openDropdown(this, event, true);">
                                                        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" title="Show More">
                                                            <span class="slds-button__icon">
                                                                <i class=" fa fa-caret-down" aria-hidden="true"></i>
                                                            </span>
                                                            <span class="slds-assistive-text">Show More</span>
                                                        </button>
                                                        <div class="slds-dropdown slds-dropdown_right slds-dropdown_actions">
                                                            <ul class="slds-dropdown__list" role="menu">
                                                                <li class="slds-dropdown__item" role="presentation">
                                                                    <a href="/expense-details?expenseId=<%= expense.id %>" role="menuitem" tabindex="0">
                                                                        <span class="slds-truncate" title="">
                                                                            <i class="fa fa-eye"></i> &nbsp;
                                                                            Edit/View
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                              <% if(!(expense.project_archived || expense.project_status=='Completed')) { %>
                                                                  <% if(user.permissions.indexOf('expenseApprover')==-1) { %>
                                                                    <% if(!expense.submitted) { %>
                                                                      <li class="slds-has-divider_top-space" role="separator"></li>
                                                                      <li class="slds-dropdown__item" role="presentation">
                                                                        <a href="javascript:void(0);" role="menuitem" tabindex="-1" onclick="deleteBeforeConfirm('#globalAlert', 'deleteExpense(\'<%= expense.id %>\')','Are you sure you want to delete this expense?')">
                                                                            <span class="slds-truncate" title="">
                                                                                <i class="fa fa-trash text-red"></i> &nbsp;
                                                                                Delete
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                  <% } else if(!expense.invoiced) { %>
                                                                    <% console.log('expense.invoiced '+expense.invoiced); %>
                                                                    <li class="slds-has-divider_top-space" role="separator"></li>
                                                                    <li class="slds-dropdown__item" role="presentation">
                                                                      <a href="javascript:void(0);" role="menuitem" tabindex="-1" onclick="deleteBeforeConfirm('#globalAlert', 'deleteExpense(\'<%= expense.id %>\')','Are you sure you want to delete this expense?')">
                                                                          <span class="slds-truncate" title="">
                                                                              <i class="fa fa-trash text-red"></i> &nbsp;
                                                                              Delete
                                                                          </span>
                                                                      </a>
                                                                    </li>
                                                                  <% } %>
                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    <% } %>
                                            <!-- row end -->


                                        </tbody>
                                    </table>
                                    <% if(expenses.length <= 0) { %>
                                        <div class="slds-p-around_small text-center" title="noExpenseFound" >
                                            No expense found.
                                        </div>
                                    <% }  else { %>
                                        <div class="slds-p-around_small text-center slds-hide" title="noExpenseFound" >
                                            No expense found.
                                        </div>
                                    <% } %>
                                    <div class="slds-text-align_center slds-p-vertical_medium">
                                        <button class="slds-button" loadItemId="loadMoreBtn" onclick="loadMoreExpense()">&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card view start -->

                        <div class="sm-show hide" btn-tabview="expenses-cards">
                            <div class="">
                                <div class="slds-grid slds-wrap slds-grid_pull-padded" id="expenseCardView">
                                     <% if(expenses.length > 0) { %>
                                                    <% expenses.forEach(function(expense) { %>
                                    <!-- card start -->
                                        <div class="slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_3-of-12 slds-p-horizontal_small">
                                            <div class=" slds-m-bottom_medium slds-p-around_small slds-card">
                                                <div class="">

                                                    <div class="slds-grid slds-p-bottom_small">

                                                        <!-- <div class="slds-has-flexi-truncate">
                                                            <a href="/expense-details?expenseId=<%= expense.id%>" class="text-size-16"> <%= expense.record_id %> </a>
                                                        </div> -->
                                                        <div class="slds-has-flexi-truncate">
                                                          <% if(expense.project_archived) { %>
                                                              <div class="slds-badge slds-badge_inverse view-inline  bg-red">    Status: Project Archived
                                                              </div>
                                                          <% } else if(expense.project_status=='Completed') { %>
                                                              <div class="slds-badge slds-badge_inverse view-inline  bg-red">    Status: Project Completed
                                                              </div>
                                                          <% } else if(expense.invoiced) { %>
                                                              <div class="slds-badge slds-badge_inverse view-inline  bg-green">    Status: Invoiced
                                                              </div>
                                                          <% } else if(expense.submitted) { %>
                                                              <div class="slds-badge slds-badge_inverse view-inline  bg-orange">    Status: Submitted
                                                              </div>
                                                          <% } else {%>
                                                              <div class="slds-badge slds-badge_inverse view-inline">    Status: Draft
                                                              </div>
                                                          <% } %>


                                                        </div>
                                                        <div class="slds-col--bump-left">
                                                            <div class="slds-dropdown-trigger slds-dropdown-trigger_click" onclick="openDropdown(this, event, true);">
                                                                <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" title="Show More">
                                                                    <span class="slds-button__icon">
                                                                        <i class=" fa fa-caret-down" aria-hidden="true"></i>
                                                                    </span>
                                                                    <span class="slds-assistive-text">Show More</span>
                                                                </button>
                                                                <div class="slds-dropdown slds-dropdown_right slds-dropdown_actions">
                                                                    <ul class="slds-dropdown__list" role="menu">
                                                                        <li class="slds-dropdown__item" role="presentation">
                                                                            <a href="/expense-details?expenseId=<%= expense.id%>" role="menuitem" tabindex="0">
                                                                                <span class="slds-truncate" title="">
                                                                                    <i class="fa fa-eye"></i> &nbsp;
                                                                                    View Details
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <% if(!(expense.project_archived || expense.project_status=='Completed')) { %>
                                                                          <% if(user.permissions.indexOf('expenseApprover')==-1) { %>
                                                                            <% if(!expense.submitted) { %>
                                                                              <li class="slds-has-divider_top-space" role="separator"></li>
                                                                              <li class="slds-dropdown__item" role="presentation">
                                                                                  <a href="javascript:void(0);" role="menuitem" tabindex="-1" onclick="deleteBeforeConfirm('#globalAlert', 'deleteExpense(\'<%= expense.id %>\')','Are you sure you want to delete this expense?')">
                                                                                      <span class="slds-truncate " title="">
                                                                                          <i class="fa fa-trash text-red"></i> &nbsp;
                                                                                          Delete
                                                                                      </span>
                                                                                  </a>
                                                                              </li>
                                                                              <% } %>
                                                                            <% } else if(!expense.invoiced) { %>
                                                                              <li class="slds-has-divider_top-space" role="separator"></li>
                                                                              <li class="slds-dropdown__item" role="presentation">
                                                                                  <a href="javascript:void(0);" role="menuitem" tabindex="-1" onclick="deleteBeforeConfirm('#globalAlert', 'deleteExpense(\'<%= expense.id %>\')','Are you sure you want to delete this expense?')">
                                                                                      <span class="slds-truncate " title="">
                                                                                          <i class="fa fa-trash text-red"></i> &nbsp;
                                                                                          Delete
                                                                                      </span>
                                                                                  </a>
                                                                              </li>
                                                                          <% } %>
                                                                        <% } %>
                                                                        <!-- <% if(!expense.invoiced) {%>
                                                                        <li class="slds-has-divider_top-space" role="separator"></li>
                                                                        <li class="slds-dropdown__item" role="presentation">
                                                                            <a href="javascript:void(0);" role="menuitem" tabindex="-1" onclick="deleteBeforeConfirm('#globalAlert', 'deleteExpense(\'<%= expense.id %>\')','Are you sure you want to delete this expense?')">
                                                                                <span class="slds-truncate " title="">
                                                                                    <i class="fa fa-trash text-red"></i> &nbsp;
                                                                                    Delete
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <% } %> -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                  <div class="slds-p-bottom_x-small">
                                                      <div class="slds-grid">
                                                        <div class="slds-has-flexi-truncate">
                                                            <a href="/expense-details?expenseId=<%= expense.id%>" class="text-size-16"> <%= expense.record_id %> </a>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="slds-p-bottom_x-small">
                                                        <div class="slds-grid">
                                                            <div class="slds-no-flex slds-p-right_x-small">
                                                                <i class="fa fa-user-tie text-dull"></i>
                                                            </div>
                                                            <div class="slds-has-flexi-truncate">
                                                                <div class="slds-truncate">
                                                                    <%= expense.account_name %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="slds-grid">
                                                            <div class="slds-no-flex slds-p-right_x-small">
                                                                <i class="fa fa-folder text-dull"></i>
                                                            </div>
                                                            <div class="slds-has-flexi-truncate">
                                                                <div class="slds-truncate">
                                                                    <%= expense.project_name %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-size-18 text-thick slds-p-vertical_x-small slds-truncate text-right">
                                                        <% var currency_symbols = currencyWithSymbolArray.filter(function(currency){
                                                            return currency.name == expense.currency;
                                                        })%>
                                                        <span class="text-uppercase text-dull"><%= currency_symbols[0].symbol %></span>
                                                        <span><%= expense.total_amount %></span>
                                                    </div>

                                                    <div class="text-size-11 line-top slds-p-top_xx-small">
                                                        <div class="slds-grid">
                                                            <div class="slds-has-flexi-truncate">
                                                                <span class="text-uppercase text-dull">Date:</span>
                                                                <time><%= expense.expense_date %></time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                          <% }); %>
                                        <% } %>
                                    <!-- card end -->

                                </div>
                                <div class="slds-text-align_center slds-p-vertical_medium">
                                    <button class="slds-button" loadItemId="loadMoreBtn" onclick="loadMoreExpense()">&nbsp;</button>
                                </div>
                            </div>
                            <% if(expenses.length <= 0) { %>
                                <div class="slds-p-around_small text-center" title="noExpenseFound" >
                                    No expense found.
                                </div>
                            <% }  else { %>
                                <div class="slds-p-around_small text-center slds-hide" title="noExpenseFound" >
                                    No expense found.
                                </div>
                            <% } %>
                          </div>

                        <!-- card view end -->
                    </div>
                    <!-- table view end -->
                </div>
            </div>
        </div>

        <% include ../modals/modal-add-new-expense %>
        <% include ../layouts/expense-script %>
        <% } %>
        <% include ../layouts/footer %>
    </main>
    <% include ../layouts/scripts %>

</body>

</html>
