<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

<% include ../layouts/head %>

<body class="kw">

    <% include ../layouts/nav %>
    <% include ../layouts/sideNav %>
    <main class="main-body-space tpd-60 bpd-100">
        <div>
            <div class="slds-p-around_small">
                <!-- breadcrumb start -->
                <div class="slds-p-bottom_small">
                    <nav role="navigation" aria-label="Breadcrumbs" >
                        <ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
                            <li class="slds-breadcrumb__item "><a href="/projects-listing">Projects</a></li>
                            <li class="slds-breadcrumb__item "><a href="/project-details?projectId=<%= taskDetails.project_id %>"><%= taskDetails.project_name %></a></li>
                            <li class="slds-breadcrumb__item "><a href="javascript:void(0);"><%= taskDetails.name %></a></li>
                        </ol>
                    </nav>
                </div>

                <!-- breadcrumb end -->
                <div class="">
                    <div class="slds-tabs_default bg-none">
                        <!-- header start end -->
                        <div class="slds-card">
                            <div class="slds-grid slds-wrap slds-p-horizontal_small slds-p-top_small">
                                <div class="slds-size_1-of-1 slds-medium-size_1-of-2">
                                    <div class="slds-grid">
                                        <div class="slds-no-flex slds-p-right_x-small">
                                            <span class="slds-icon_container slds-icon-standard-article">
                                                <i class="fa fa-tasks text-size-21 text-white slds-icon"></i>
                                            </span>
                                        </div>
                                        <div class="slds-has-flexi-truncate">

                                            <!-- <h1 class="slds-page-header__title slds-p-right_x-small text-height-1">
                                                <div class="slds-dropdown-trigger slds-dropdown-trigger_click cursor-pointer" aria-haspopup="true" title="" onclick="openDropdown(this, event, true);">
                                                    <div class="slds-grid slds-has-flexi-truncate slds-grid_vertical-align-center">
                                                        <span class="slds-truncate" title="">Task-<%= taskDetails.id %></span>
                                                    </div>
                                                </div>
                                            </h1> -->
                                            <div class="slds-page-header__title slds-truncate">
                                                <!-- <strong>Task-<%= taskDetails.id %></strong> -->
                                                <strong><%= taskDetails.name %></strong>
                                            </div>
                                            <div class="slds-text-body_small tpd-2 text-height-1">
                                                <span>Project: </span>
                                                <a href="javascript:void(0);"><%= taskDetails.project_name %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-size_1-of-1 slds-medium-size_1-of-2">
                                    <div class="text-right sm-tpd-15">
                                        <!-- <button class="slds-button slds-button_brand slds-align-top" onclick="updateTaskDetails('<%= taskDetails.id %>', '#update-task-details-form', '<%= taskDetails.project_id %>');">
                                            Save Changes
                                        </button> -->
                                        <button class="slds-button slds-button_neutral slds-align-top" onclick="deleteBeforeConfirm('#globalAlert', 'deleteTask(\'<%= taskDetails.id %>\', \'<%= taskDetails.project_id %>\')');">
                                            Delete
                                        </button>
                                        <!-- <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-align-top" title="Archive" onclick="deleteBeforeConfirm('#globalAlert', 'deleteTask(\'<%= taskDetails.id %>\', \'<%= taskDetails.project_id %>\')');">
                                            <span class="slds-button__icon">
                                                <i class=" fa fa-trash text-red" aria-hidden="true"></i>
                                            </span>
                                        </button> -->
                                    </div>
                                </div>
                            </div>
                            <div class="">


                            <ul class="slds-tabs_default__nav radius-4 scroll-x-auto bpd-2 text-size-14">
                                <li data-navigation="details" class="slds-tabs_default__item slds-is-active" onclick="openTab(this, 'task-details')">
                                    <a class="slds-tabs_default__link" href="javascript:void(0);" tabindex="0">
                                        Details
                                    </a>
                                </li>
                            </ul>
                            </div>

                        </div>
                        <!-- header end -->



                        <div class="slds-tabs_default__content" target-tab="task-details" data-modified>
                            <div id="update-task-details-form">
                                <div class=" slds-card slds-p-around_large sm-pd-10">
                                    <div class="slds-grid slds-wrap slds-grid_pull-padded" id="editTaskForm">
                                        <div class="slds-size_1-of-1 slds-medium-size_8-of-12 slds-p-horizontal_small">
                                            <div class="slds-p-bottom_x-small line-bottom">
                                                <div class="text-uppercase ">
                                                    Details
                                                </div>
                                            </div>
                                            <div class="slds-p-top_large">
                                                <div>
                                                    <div class="slds-form-element slds-m-bottom_medium">
                                                        <label class="slds-form-element__label ">
                                                            Title
                                                            <abbr class="slds-required" title="required">*</abbr>
                                                        </label>
                                                        <div class="slds-form-element__control">
                                                            <input type="text" id="task-title" name="title" getFormData='' value="<%= taskDetails.name %>" class="slds-input" placeholder="" required="" disabled>
                                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="slds-form-element slds-m-bottom_medium">
                                                        <label class="slds-form-element__label">
                                                            Description
                                                        </label>
                                                        <div class="slds-form-element__control">
                                                            <textarea id="description" name="description" getFormData='' class="slds-textarea" placeholder=""><%= taskDetails.description %></textarea>
                                                            <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="slds-grid slds-wrap slds-gutters">
                                                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                                <div class="slds-form-element slds-m-bottom_medium">
                                                                    <label class="slds-form-element__label">
                                                                        Start Date
                                                                    </label>
                                                                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                                                        <span class="slds-input__icon slds-input__icon_right">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </span>
                                                                        <input name="start_date" getFormData='' value="<%= taskDetails.startDateFormatted %>" type="date" class="slds-input open-date-pik">
                                                                    </div>
                                                                </div>

                                                        </div>
                                                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">

                                                                <div class="slds-form-element slds-m-bottom_medium">
                                                                    <label class="slds-form-element__label">
                                                                        Due Date
                                                                    </label>
                                                                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                                                        <span class="slds-input__icon slds-input__icon_right">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </span>
                                                                        <input name="end_date" getFormData='' value="<%= taskDetails.endDateFormatted %>" type="date" class="slds-input open-date-pik">
                                                                    </div>
                                                                </div>

                                                        </div>
                                                    </div>
                                                    <div class="slds-grid slds-wrap slds-gutters">
                                                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                            <div class="slds-form-element slds-m-bottom_medium">
                                                                <label class="slds-form-element__label">
                                                                    Estimated Hours
                                                                </label>
                                                                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                                                    <span class="slds-input__icon slds-input__icon_right">
                                                                        <i class="far fa-clock"></i>
                                                                    </span>
                                                                    <input type="number" name="estimated_hours" getFormData='' value="<%= taskDetails.estimated_hours %>" class="slds-input" decimal>
                                                                </div>
                                                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                              <div class="slds-form-element slds-m-bottom_medium">
                                                                  <div class="slds-form-element__control">
                                                                      <label class="slds-form-element__label">
                                                                          Complete Percetage
                                                                      </label>
                                                                      <div class="slds-form-element__control">
                                                                          <input type="number" name="task_complete_per" id="task_complete_per" value="<%= taskDetails.percent_completed %>" maxlength="3" class="slds-input" getformdata="" placeholder="" decimal>
                                                                          <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                        <!-- <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                                <div class="slds-form-element slds-m-bottom_medium">
                                                                    <label class="slds-form-element__label">
                                                                        Assigned To
                                                                    </label>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-select_container">
                                                                            <select class="slds-select" id="assigned_user" name="assigned_user" getFormData>
                                                                                <option value="" billRate="0.00" costRate="0.00"> </option>
                                                                                <% if(userList.length > 0) { %>
                                                                                    <% userList.forEach(function(resource) { %>
                                                                                        <option user_role="<%= resource.user_role %>" value="<%= resource.id %>" pr_as_id="<%= resource.assignment_id %>" billRate="<%= resource.bill_rate %>" costRate="<%= resource.cost_rate %>"> <%= resource.email %> (<%= resource.user_role %>)</option>
                                                                                    <% }); %>
                                                                                <% } %>
                                                                            </select>
                                                                        </div>
                                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        </div> -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-size_1-of-1 slds-medium-size_4-of-12 slds-p-horizontal_small">
                                            <div class="slds-p-bottom_x-small line-bottom">
                                                <div class="text-uppercase ">
                                                    Setup
                                                </div>
                                            </div>
                                            <div class="slds-p-top_large">
                                                <div class="slds-form-element slds-m-bottom_medium">
                                                    <label class="slds-form-element__label">
                                                        Status
                                                    </label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-select_container">
                                                            <select class="slds-select" id="status" name="status" getFormData=''>
                                                                <option value="Not Started">Not Started</option>
                                                                <option value="In Progress">In Progress</option>
                                                                <option value="At Risk">At Risk</option>
                                                                <option value="Completed">Completed</option>
                                                            </select>
                                                        </div>
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-form-element slds-m-bottom_medium">
                                                    <label class="slds-form-element__label">
                                                        Priority
                                                    </label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-select_container">
                                                            <select class="slds-select" id="priority" name="priority" getFormData=''>
                                                                <option value="Low">Low</option>
                                                                <option value="Medium">Medium</option>
                                                                <option value="High">High</option>
                                                            </select>
                                                        </div>
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-m-top_medium">
                                                        <div class="slds-col--bump-left slds-p-right_medium">
                                                            <div class="slds-form-element ">
                                                                <label class="slds-checkbox_toggle slds-grid">
                                                                        <% if(taskDetails.billable == false) { %>
                                                                            <input type="checkbox" id="billablecheck" name="billable" getFormData=''>
                                                                        <% } else { %>
                                                                            <input type="checkbox" getFormData='' id="billablecheck" name="billable" checked>
                                                                        <% } %>
                                                                    <span id="checkbox-toggle-3" class="slds-checkbox_faux_container">
                                                                        <span class="slds-checkbox_faux"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="slds-has-flexi-truncate">
                                                            <% if(taskDetails.billable == false) { %>
                                                                <span>Non Billable</span>
                                                            <% } else { %>
                                                                <span>Billable</span>
                                                            <% } %>


                                                        </div>
                                                    </div>
                                                <!-- <div class="slds-form-element slds-m-bottom_medium">
                                                    <div class="slds-form-element__control">
                                                        <span class="slds-checkbox">
                                                                <% if(taskDetails.billable == false) { %>
                                                                    <input type="checkbox" id="billablecheck" name="billable" getFormData=''>
                                                                <% } else { %>
                                                                    <input type="checkbox" getFormData='' id="billablecheck" name="billable" checked>
                                                                <% } %>
                                                            <label class="slds-checkbox__label" for="billablecheck">
                                                                <span class="slds-checkbox_faux"></span>
                                                                <span class="slds-form-element__label">Billable</span>
                                                            </label>
                                                        </span>
                                                    </div>
                                                </div> -->



                                                <!-- <div class="slds-m-bottom_medium">
                                                    <div class="slds-grid">
                                                        <div class="slds-has-flexi-truncate">
                                                            <span>Send Notifications</span>
                                                        </div>
                                                        <div class="slds-col--bump-left slds-p-left_medium">
                                                            <div class="slds-form-element">
                                                                <label class="slds-checkbox_toggle slds-grid">

                                                                    <input type="checkbox" name="checkbox-toggle-3" value="checkbox-toggle-3" aria-describedby="checkbox-toggle-3">
                                                                    <span id="checkbox-toggle-3" class="slds-checkbox_faux_container" aria-live="assertive">
                                                                        <span class="slds-checkbox_faux"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <!-- <div class="slds-form-element slds-m-bottom_medium">
                                                    <label class="slds-form-element__label">
                                                        Followers
                                                    </label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-select_container">
                                                            <select class="slds-select">
                                                                <option value=""> </option>
                                                                <option value="">option</option>
                                                                <option value="">option</option>
                                                            </select>
                                                        </div>
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 ">
                                              <div class="text-right sm-tpd-15">
                                                  <button class="slds-button slds-button_brand slds-align-top" onclick="updateTaskDetails('<%= taskDetails.id %>', '#update-task-details-form', '<%= taskDetails.project_id %>');" disabled save-btn>
                                                      Save Changes
                                                  </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="slds-tabs_default__content hide" target-tab="task-files">
                            <div class=" slds-card slds-p-around_large sm-pd-10">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <% include ../layouts/footer %>
    </main>




    <% include ../layouts/scripts %>
    <% include ../layouts/task-script %>
    <script>
            $(document).ready(function(){
                $('#status').val('<%= taskDetails.status %>');
        $('#priority').val('<%= taskDetails.priority %>');
        // $("#assigned_user").val('<%= taskDetails.user_id %>');
        $.each($('#assigned_user option'), function (index, option) {
            console.log(index);
            if('<%= taskDetails.assigned_user_id %>' != '' || '<%= taskDetails.assigned_user_id %>' != null) {
                console.log(index);
                if($(option).attr('pr_as_id') == '<%= taskDetails.assigned_user_id %>') {
                    console.log(index);
                    $(option).attr('selected', 'selected');
                    return false;
                }
            }
        });
            });

        </script>

</body>

</html>
