<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">

<% include ../layouts/head %>

<body class="kw">

    <%- include('../layouts/nav', {user:user}); %>
    <%- include('../layouts/sideNav',{user:user}); %>
    <main class="main-body-space tpd-60 bpd-100">
        <div>
            <div class="slds-p-around_small">
                <div class="">
                    <!-- header start end -->
                    <div class="slds-card slds-p-around_small slds-m-bottom_medium">
                        <!-- <div class="slds-grid slds-wrap slds-grid_pull-padded">
                            <div class="slds-size_1-of-1 slds-medium-size_6-of-12 slds-p-horizontal_small"> -->
                                <div class="slds-grid">
                                    <div class="slds-no-flex slds-p-right_x-small">
                                        <span class="slds-icon_container slds-icon-standard-action-list-component">
                                            <i class="fa fa-user text-size-21 text-white slds-icon"></i>
                                        </span>
                                    </div>
                                    <div class="slds-has-flexi-truncate">
                                        <div class="text-size-18 text-height-1">
                                            <%= userObj.first_name %> <%= userObj.last_name %>
                                        </div>
                                        <div class="slds-text-body_small">
                                            Last Modify: <%= userObj.modified_date%>
                                        </div>
                                    </div>
                                    <div class="slds-col--bump-left slds-p-left_medium">
                                        <div class="">
                                            <button class="slds-button slds-button_brand slds-align-top" onclick="openModal('#modalChangePassword', true)">
                                                <span class="">Update Password</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="slds-size_1-of-1 slds-medium-size_6-of-12 slds-p-horizontal_small">

                            </div> -->

                        <!-- </div> -->
                    </div>
                    <!-- header end -->

                    <div class="slds-grid slds-wrap slds-grid_pull-padded" data-modified data-parsley-validate="">
                        <div class="slds-size_1-of-1 slds-medium-size_12-of-12 slds-p-horizontal_small">
                            <div class="slds-card slds-p-around_large sm-pd-10 slds-m-bottom_large">
                                <div class="">
                                    <div class="" id="userProfileForm">
                                        <div class="slds-grid slds-wrap slds-gutters">
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-grid slds-m-bottom_medium">
                                                    <div class="slds-no-flex slds-p-right_medium">
                                                        <span class="slds-avatar slds-avatar_large slds-avatar_circle cursor-pointer">
                                                            <img id="userimg" src="/getUserPicture/<%= userObj.id %>" alt="<%= userObj.first_date %> <%= userObj.last_date %>" title="<%= userObj.first_date %> <%= userObj.last_date %>">
                                                        </span>
                                                    </div>
                                                    <div class="">
                                                        <form id="userProfilePicForm" action="fileUserImage" method="post" enctype="multipart/form-data">
                                                        <div class="slds-form-element">
                                                            <span class="slds-form-element__label" id="">&nbsp;
                                                              <div class="slds-form-element__control">
                                                                  <div class="slds-file-selector slds-file-selector_files">
                                                                      <div class="slds-file-selector__dropzone">
                                                  <input type="file" onchange="uploadUserPicture(this);" class="slds-file-selector__input slds-assistive-text" accept="image/png" id="file-upload-input-01" aria-labelledby="file-selector-primary-label file-selector-secondary-label" id="userpicture" name="userpicture"/>
                                                                          <label class="slds-file-selector__body" for="file-upload-input-01" id="file-selector-secondary-label">
                                                                              <span class="slds-file-selector__button slds-button slds-button_neutral">
                                                                                  <i class="fa fa-upload rpd-10"></i>
                                                                                  Upload Image
                                                                              </span>
                                                                          </label>
                                                                          <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                            </span>
                                                            <div>Recommended to use 200*200 pixel images</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>Image may take time to upload and reflect changes.</div>
                                                <div class="text-right tpd-15">
                                                    <button class="slds-button  slds-button_brand slds-align-top" type="submit" disabled img-upload>
                                                        Upload File
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-form-element slds-m-bottom_medium">
                                                    <label class="slds-form-element__label" for="">Email</label>
                                                    <div class="text-size-16 slds-truncate" id="email">
                                                        <%= userObj.email %>
                                                    </div>
                                                </div>

                                            </form>
                                            </div>
                                        </div>

                                        <div class="slds-grid slds-wrap slds-gutters">
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-form-element slds-m-bottom_medium">
                                                    <label class="slds-form-element__label">
                                                        First Name
                                                        <abbr class="slds-required" title="required">*</abbr>
                                                    </label>
                                                    <div class="slds-form-element__control">
                                                        <input type="text" id="first_name" class="slds-input" placeholder=""  value="<%= userObj.first_name %>" required="" alphabet />
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">
                                                           <!-- Error Msg Here -->
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-form-element slds-m-bottom_medium">
                                                    <label class="slds-form-element__label">
                                                        Last Name
                                                        <!-- <abbr class="slds-required" title="required">*</abbr> -->
                                                    </label>
                                                    <div class="slds-form-element__control">
                                                        <input type="text" id="last_name" class="slds-input" placeholder="" value="<%= userObj.last_name %>" alphabet />
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-grid slds-gutters slds-wrap">
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-form-element slds-m-bottom_medium">
                                                    <label class="slds-form-element__label">Phone</label>
                                                    <div class="slds-form-element__control">
                                                        <input type="text" id="phone" class="slds-input" placeholder="" maxlength="14" value="<%= userObj.phone %>" phone/>
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12">
                                                <div class="slds-form-element slds-m-bottom_medium">
                                                    <label class="slds-form-element__label">Mobile</label>
                                                    <div class="slds-form-element__control">
                                                        <input type="text" id="mobile" class="slds-input" placeholder="" maxlength="17" value="<%= userObj.mobile %>" mobile/>
                                                        <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-form-element slds-m-bottom_medium">
                                            <label class="slds-form-element__label">
                                                Position Title
                                                <abbr class="slds-required" title="required">*</abbr>
                                            </label>
                                            <div class="slds-form-element__control">
                                                <input type="text" class="slds-input" id="userRole" placeholder="" required="" disabled="" value="<%= userObj.role %>"/>
                                                <div class="slds-text-color_error text-size-12 slds-p-top_xx-small">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-form-element slds-m-bottom_medium">
                                          <div class="slds-text-align_right sm-tpd-10 sm-text-left">
                                              <button class="slds-button slds-button_brand slds-align-top" onclick="updateUser(<%= userObj.id %>)" disabled save-btn>
                                                  Save Changes
                                              </button>
                                          </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- <div class="slds-size_1-of-1 slds-medium-size_6-of-12 slds-p-horizontal_small">
                            <div class="slds-card slds-p-around_large sm-pd-10 slds-m-bottom_large">
                                <div class="">
                                    <div class="slds-p-bottom_small">
                                        <div class="text-size-18">
                                            <i class="fa fa-envelope text-blue"></i>
                                            Notification
                                        </div>
                                    </div>
                                    <div class="line-top slds-p-vertical_x-small">
                                        <div class="slds-grid">
                                            <div class="slds-has-flexi-truncate">
                                                <span>Receive Daily Task Reminders</span>
                                            </div>
                                            <div class="slds-col--bump-left slds-p-left_medium">
                                                <div class="slds-form-element">
                                                    <label class="slds-checkbox_toggle slds-grid">

                                                        <input type="checkbox" name="checkbox-toggle-3" value="checkbox-toggle-3" aria-describedby="checkbox-toggle-3" />
                                                        <span id="checkbox-toggle-3" class="slds-checkbox_faux_container" aria-live="assertive">
                                                            <span class="slds-checkbox_faux"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="line-top slds-p-vertical_x-small">
                                        <div class="slds-grid">
                                            <div class="slds-has-flexi-truncate">
                                                <span>Receive Payment Notifications</span>
                                            </div>
                                            <div class="slds-col--bump-left slds-p-left_medium">
                                                <div class="slds-form-element">
                                                    <label class="slds-checkbox_toggle slds-grid">

                                                        <input type="checkbox" name="checkbox-toggle-3" value="checkbox-toggle-3" aria-describedby="checkbox-toggle-3" />
                                                        <span id="checkbox-toggle-3" class="slds-checkbox_faux_container" aria-live="assertive">
                                                            <span class="slds-checkbox_faux"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="line-top slds-p-vertical_x-small">
                                        <div class="slds-grid">
                                            <div class="slds-has-flexi-truncate">
                                                <span>Other Notifications</span>
                                            </div>
                                            <div class="slds-col--bump-left slds-p-left_medium">
                                                <div class="slds-form-element">
                                                    <label class="slds-checkbox_toggle slds-grid">

                                                        <input type="checkbox" name="checkbox-toggle-3" value="checkbox-toggle-3" aria-describedby="checkbox-toggle-3" />
                                                        <span id="checkbox-toggle-3" class="slds-checkbox_faux_container" aria-live="assertive">
                                                            <span class="slds-checkbox_faux"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <% include ../modals/modal-change-password %>
        <% include ../layouts/footer %>
    </main>




    <% include ../layouts/scripts %>
    <% include ../layouts/user-script %>
    <!-- <script>
      $(document).ready(function(){
          modifyInputEvent($('[data-modified]'));
      })
    </script> -->
</body>

</html>
