<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<body style="padding: 4mm; font-family:Helvetica, Arial, Sans-Serif; font-size: 14px;">
<style>
    table{
        width: 100%;
        border-collapse: collapse;
    }
    table thead th{
        text-transform: uppercase;
    }
    .tbl-fixed{
        table-layout: fixed;
    }
    .bpd-50{
        padding-bottom: 50px;
    }
    .tbl-border > tr > td, .tbl-border > tbody > tr > td{
        border-top: 1px solid #eeeeee;
    }

    .tbl-padded > tr > th, .tbl-padded > tbody > tr > td, .tbl-padded > thead > tr > th{
        padding: 8px;
    }

    .tbl-padded-10 > tr > th, .tbl-padded-10 > tbody > tr > td, .tbl-padded-10 > thead > tr > td{
        padding: 4px;
    }

    .tbl-padded-4 > tr > th, .tbl-padded-4 > tbody > tr > td, .tbl-padded-4 > thead > tr > td{
        padding: 4px;
    }

    .bg-blue, tr.bg-blue td{
        background: #0070d2;
    }

    .bg-dull, tr.bg-dull td{
        background: #eee;
    }
    .text-white{
        color: white;
    }
    .text-dull{
        color: #999;
    }
    .text-size-12{
        font-size: 12px;
    }
    .text-size-18{
        font-size: 18px;
    }
    .text-uppercase{
        text-transform: uppercase;
    }
    .line-top{
    border-top: 1px solid #eee;
    }
</style>
    <div>
        <div class="bpd-50">
            <table class="tbl-fixed">
                <tbody>
                    <tr>
                        <td class="">
                            <div>
                                <img src="../img/logo-place-holder.jpg" alt="" width="" style="padding-left: 30px; padding-top: 30px; ">
                            </div>
                        </td>
                        <td width="15%">
                            
                        </td>
                        <td>
                            <div>
                                <div class="">
                                    <h1 class="">
                                        <strong class="text-uppercase">
                                            Invoice
                                        </strong>
                                    </h1>
                                </div>
                                <table class="tbl-padded">
                                    <tbody>
                                        <tr>
                                            <td class="">
                                                <strong >Invoice No.</strong>
                                            </td>
                                            <td>
                                                <div class="">
                                                    <%= invoiceDetails.record_id %>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">
                                                <strong >Date Issued</strong>                            
                                            </td>
                                            <td>
                                                %= invoiceDetails.startDateFormatted %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">
                                                <strong >Due Date</strong>                            
                                            </td>
                                            <td>
                                                <%= invoiceDetails.due_date %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="">
                                                <strong >Currency</strong>                                
                                            </td>
                                            <td>
                                                USD - US Dollar
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="bpd-50">
            <table class="tbl-fixed">
                <tbody>
                    <tr>
                        <td class="">
                            <table class="">
                                <tbody>
                                    <tr>
                                        <td class="" valign="top" width="20%">
                                            <strong >To</strong>
                                        </td>
                                        <td class="">
                                            <div>
                                                Wolters Kluwer India Pvt. Ltd. <br>
                                                A-202, 2nd Floor<br>
                                                The Qube, C.T.S. No.1498A/2<br>
                                                Village Marol, Andheri (East)
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="15%">
                            
                        </td>
                        <td>
                            <table class="">
                                <tbody>
                                    <tr>
                                        <td class="" valign="top" width="20%">
                                            <strong >From</strong>
                                        </td>
                                        <td class="">
                                            <div>
                                                Wolters Kluwer India Pvt. Ltd. <br>
                                                A-202, 2nd Floor<br>
                                                The Qube, C.T.S. No.1498A/2<br>
                                                Village Marol, Andheri (East)
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        <div class="">
            <table class="tbl-border tbl-padded">
                <thead>
                    <tr class="bg-blue text-white">
                        <th scope="col" align="left" width="15%">
                            Type
                        </th>
                        <th scope="col" align="left" width="40%">
                            Description
                        </th>
                        <th scope="col" align="left">
                            Qty / Hr
                        </th>
                        <th scope="col" align="left">
                            Unit Price
                        </th>
                        <th scope="col" align="right">
                            Amount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% if(lineItems.length > 0) {%>
                    <% var sumOfTotalAmount = 0.0; %>
                    <% lineItems.forEach(function(invLineDetails) { %>
                        <% sumOfTotalAmount += parseFloat(invLineDetails.total_amount); %>
                            <tr>
                                <td align="left">
                                   <%= invLineDetails.type %>
                                </td>
                                <td align="left">
                                    <%= invLineDetails.user_email['email'] %> (<%= invLineDetails.user_role %>)
                                </td>
                                <td align="left">
                                    <%= invLineDetails.totalHoursFormatted %>
                                </td>
                                <td align="left">
                                     <%= invLineDetails.bill_rate %>
                                </td>
                                <td align="right">
                                    USD <%= invLineDetails.total_amount %>
                                </td>
                            </tr>
                    <% }); %>
                    <% } else { %>
                    <% } %>
                    <!-- <tr>
                        <td align="left">
                            Timesheet
                        </td>
                        <td align="left">
                            Lorem ipsum dolor sit amet
                        </td>
                        <td align="left">
                            10
                        </td>
                        <td align="left">
                            50
                        </td>
                        <td align="right">
                            USD 500.00
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Timesheet
                        </td>
                        <td align="left">
                            Lorem ipsum dolor sit amet
                        </td>
                        <td align="left">
                            10
                        </td>
                        <td align="left">
                            50
                        </td>
                        <td align="right">
                            USD 500.00
                        </td>
                    </tr> -->
                  
                </tbody>
            </table>
        </div>

        <div class="line-top">
            <table class="tbl-fixed tbl-padded">
                <tbody>
                    <tr>
                        <td align="right">
                            Subtotal
                        </td>
                        <td align="right" width="20%">
                            <%= sumOfTotalAmount %>   
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            + TAX    
                        </td>
                        <td align="right" width="20%">
                            5.00   
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            - Discount    
                        </td>
                        <td align="right" width="20%">
                            10.00   
                        </td>
                    </tr>
                    <tr class="bg-dull">
                        <td align="right">
                            <span class="text-size-18">
                                Total Amount        
                            </span>
                        </td>
                        <td align="right" width="20%">
                            <strong class="text-size-18">
                                USD <% sumOfTotalAmount = sumOfTotalAmount + 5 + 10 %>
                                                            <%= sumOfTotalAmount %>
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div style="padding: 60px 40px;">
                <strong class="">
                    Note
                </strong>
                <div class="text-size-12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget placerat turpis, in vehicula elit. Pellentesque id pharetra ligula, sit amet interdum erat. Integer id lectus pulvinar, maximus urna quis, accumsan lacus. Etiam ac quam magna. Fusce ex lectus, pretium id commodo sit amet, egestas mattis lectus. Vestibulum id libero fringilla magna tincidunt egestas. Nam lacinia sollicitudin ante sed auctor. Suspendisse potenti.
                </div>
            </div>
        </div>
        <div class="" id="pageFooter">
            <span class="text-dull">
                Powered By 
            </span>
            <img src="../public/img/krow-logo.png" alt="" width="50" style="vertical-align: bottom; padding-left: 10px;">
        </div>
    </div>
</body>

</html>